<div class="container__menu-bar">
  <ul>
    <li>
      <a href="https://twitter.com/ptcooperchip" target="_blank">Twitter</a>
    </li>
    <li><span>|</span></li>
    <li>
      <a
        href="https://www.linkedin.com/in/carlos-santos-2158b232/"
        target="_blank"
        >Linkedin</a
      >
    </li>
    <li><span>|</span></li>
    <li>
      <a href="https://github.com/carlosItDevelop" target="_blank">Github</a>
    </li>
    <li><span>|</span></li>
    <li>
      <a
        href="https://www.udemy.com/user/carlos-alberto-dos-santos-34/"
        target="_blank"
        >Cursos</a
      >
    </li>

    <li><span>|</span></li>
    <li>
      <a href="https://www.youtube.com/@portalcooperchip3399" target="_blank"
        >Youtube</a
      >
    </li>
  </ul>
</div>
